*{
	margin: 0;
	padding: 0;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.play-page, .create-page{
	width: 800px;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}
